# dependencies
**/node_modules/

# next.js build output
**/.next/
**/out/
**/build/
**/dist/

# misc
.DS_Store
*.pem
npm-debug.log*

# local env
**/.env*.local
**/.env

# typescript
**/tsconfig.tsbuildinfo
**/next-env.d.ts
